*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-AzulPrincipal: #000F1D;
}
#SectionTopo{
    background-color: var(--cor-AzulPrincipal);
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: inset 0px 0px 100px 200px rgba(0, 0, 0, 0.678);
}
#SectionTopo::after{
    content: "";
    display: block;
    background-image: url('imagens/BackGroundSectionTopo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: opacity(0.2);
    height: 100vh;
    z-index: 1;
}
header{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 130px;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
}
#linhaHeaderLeft{
    width: 10%;
    height: 2px;
    background-color: white;
}
#LogoEmpresa{
    height: 90px;
    position: relative;
    left: -35%;
}
#ImgLogoEmpresa{
    height: 90px;
}
#bttNav{
    width: 50%;
    position: absolute;
    top: 60px;
    right: 10%;
}
#bttMenu{
    display: none;
    cursor: pointer;
}
.barra1-1, .barra2-1{
    background-color: white;
    height: 4px;
    transition: 0.2s;
}
.botõesHeaderBarra1{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}
.barra1-2{
    background-color: white;
    height: 4px;
    transition: 0.2s;
    rotate: 45deg;
}
.barra2-2{
    background-color: white;
    height: 4px;
    transition: 0.2s;
    rotate: -45deg;
}
.BttDirect{
    background: none;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 9pt;
}
.BttDirect:hover{
    color: rgb(145, 145, 145);
    transition: 0.2s;
}
.PontoSeparador{
    height: 6px;
    width: 6px;
    background-color: orange;
    border-radius: 100%;
}
#linhaHeaderRight{
    width: 10%;
    height: 2px;
    background-color: white;
    right: 0px;
    margin-right: 0px;
}
#TítuloSite{
    position: absolute;
    top: 40vh;
    left: 10%;
    z-index: 3;
}
#TextoBrancoTop{
    color: white;
    font-size: 20pt;
    font-weight: 900;
}
#TextoOrangeTop{
    color: orange;
    font-size: 20pt;
    font-weight: 900;
}
#FitaTop{
    z-index: 4;
    position: absolute;
    top: 80vh;
    width: 100%;
    height: 70px;
    background-color: rgba(88, 65, 0, 0.562);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#TextoFita{
    color: white;
    margin: auto;
    font-weight: 300;
}
#brasão{
    width: 100px;
    position: absolute;
    top: -90px;
    left: calc(50% - 50px);
    z-index: -1;
}
#BrasãoImg{
    width: 100px;
}

/*Segunda Parte*/
#SegundaSection{
    height: 420px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}
#AtuaçãoNoDireito{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    border: 2px solid rgb(153, 125, 74);
    border-radius: 5px;
    z-index: 2;
}
#TitleAtuation{
    position: relative;
    top: -13px;
    left: 10px;
    background-color: white;
    color: gray;
    width: 250px;
    text-align: center;
}
#PrimeiroTexto{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
#BoxPreventiva{
    width: 500px;
    display: flex;
    flex-direction: column;
}
#TitlePreventiva{
    color: rgb(212, 138, 0);
}
.TextPreventiva{
    margin-top: 20px;
}
#BoxMartelo{
    width: 300px;
    position: absolute;
    right: 18%;
}
#ImagemMartelo{
    width: 400px;
}
#SegundoTexto{
    display: flex;
    flex-direction: row-reverse;
}
#BoxContenciosa{
    margin-top: 90px;
    margin-right: 20px;
    width: 500px;
}
#TilteContenciosa{
    color: rgb(212, 138, 0);
}
.TextContenciosa{
    margin-top: 20px;
}
#BoxAssinatura{
    position: absolute;
    left: 10%;
    margin-top: 20px;
}
#imagemAssinatura{
    width: 400px;
}

/*terceira parte*/
#TerceiraSection{
    background-color: var(--cor-AzulPrincipal);
    height: max-content;
    position: relative;
    padding-top: 200px;
    padding-bottom: 100px;
}
#TextoTerceiro{
    border: 1px solid rgb(186, 121, 0);
    height: max-content;
    padding-bottom: 50px;
    border-radius: 4px;
    width: 70%;
    margin: auto;
}
#TítuloTerceiro{
    color: white;
    background-color: var(--cor-AzulPrincipal);
    width: 200px;
    text-align: center;
    position: relative;
    top: -10px;
    left: 10px;
}
.abrangênciaBox{
    margin-top: 40px;
}
.TopÁrea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.TitleÁrea{
    color: rgb(238, 155, 1);
    margin-left: 20px;
}
.BottomÁrea{
    margin-top: 10px;
    margin-left: 40px;
    color: rgb(164, 164, 164);
    font-size: 12pt;
    max-width: 500px;
}


#Section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 300px;
    background-color: orange;
}
.Numeros{
    height: max-content;
    width: 300px;
}
.TextNumeros{
    display: flex;
    flex-direction: column;
}
.TilteNumero{
    color: white;
    font-size: 40pt;
}
.DescNumero{
    color: white;
    font-size: 15pt;
}

#QuemSomos{
    background-color: var(--cor-AzulPrincipal);
    height: max-content;
    padding-top: 80px;
    padding-bottom: 80px;
}
#MasterQuemSomos{
    margin: auto;
    width: 70%;
    height: max-content;
    border: 2px rgb(186, 121, 0) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
#QSTitle{
    background-color: var(--cor-AzulPrincipal);
    color: white;
    width: 150px;
    text-align: center;
    position: relative;
    top: -12px;
    left: 20px;
}
#TextBoxQS{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
}
#QSParte1{
    width: 50%;
}
#QSParte2{
    width: 50%;
}
.TextQS{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 95%;
}
.TitleQS{
    color: rgb(238, 155, 1);
    margin-top: 20px;
}
.DescQS{
    margin-top: 10px;
    color: rgb(164, 164, 164);
}


#JuramentoDeHipócrates{
    height: max-content;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
#containerJuramento{
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}
#TopJuramento{
    text-align: center;
    font-size: 17pt;
}
#BottomJuramento{
    text-align: center;
    font-size: 12pt;
}


#equipe{
    display: flex;
    flex-direction: column;
}
#TopEquipe{
    display: flex;
    flex-direction: row;
    background-color: var(--cor-AzulPrincipal);
    height: 300px;
}
#TopParte1{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#TopParte1 h1{
    color: rgb(238, 155, 1);
}
#TopParte1 p{
    color: white;
}
#TopParte2{
    background-color: gray;
    width: 50%;
}
#BottomEquipe{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
}
#ImgFuncionário{
    background-color: gray;
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 2;
}
#boxFuncionárioText{
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#CurriculumFuncionário{
    border: 2px solid orange;
    padding: 20px;
    padding-left: 50px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    left: -20px;
}
#CurriculumFuncionário h2{
    color: rgb(238, 155, 1);
}
#CurriculumFuncionário ul{
    color: rgb(85, 85, 85);
}

@media (max-width: 970px){
    .BttDirect{
        font-size: 7pt;
    }
    #TextoBrancoTop{
        font-size: 12pt;
    }
    #TextoOrangeTop{
        font-size: 12pt;
    }
    #TextoFita{
        font-size: 12pt;
        font-weight: 600;
        text-shadow: 0px 0px 8px black;
    }
    #brasão{
        width: 60px;
        top: -40px;
        left: calc(50% - 30px);
    }
    #BrasãoImg{
        width: 60px;
    }
}
@media (max-width: 750px){
    .botõesHeaderBarra1{
        display: none;
    }
    .botõesHeaderBarra2{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        margin: auto;
        margin-top: 50px;
        align-items: center;
        justify-content: space-between;
        transition: 0.2s;
    }
    .barra1-2{
        background-color: white;
        height: 4px;
        transition: 0.2s;
        rotate: 45deg;
        margin-top: 5px;
    }
    .barra2-2{
        background-color: white;
        height: 4px;
        transition: 0.2s;
        margin-bottom: 5px;
        rotate: -45deg;
    }
    #LogoEmpresa{
        position: absolute;
        left: 10%;
    }
    #bttNav{
        position: absolute;
        top: 35px;
        right: 10%;
        width: 50px;
        height: 25px;
        padding-top: 20px;
    }
    #bttMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 15px;
        width: 30px;
        position: relative;
    }
}