*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
:root{
    --cor-AzulPrincipal: #000F1D;
    --fontTitulo: "Outfit", sans-serif;
    --fontParagrafo: "Mulish", sans-serif;
}
#SectionTopo{
    background-color: var(--cor-AzulPrincipal);
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: inset 0px 0px 100px 200px rgba(0, 0, 0, 0.678);
}
#SectionTopo::after{
    content: "";
    display: block;
    background-image: url('imagens/BackGroundSectionTopo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: opacity(0.2);
    height: 100vh;
    z-index: 1;
}
header{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 130px;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
}
#linhaHeaderLeft{
    width: 10%;
    height: 2px;
    background-color: white;
}
#LogoEmpresa{
    height: 90px;
    position: relative;
    left: -35%;
}
#ImgLogoEmpresa{
    height: 90px;
}
#bttNav{
    width: 50%;
    position: absolute;
    top: 60px;
    right: 10%;
    font-family: var(--fontParagrafo);
}
#bttMenu{
    display: none;
    cursor: pointer;
}
.barra1-1, .barra2-1{
    background-color: white;
    height: 4px;
    transition: 0.2s;
}
.botõesHeaderBarra1{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}
.barra1-2{
    background-color: white;
    height: 4px;
    transition: 0.2s;
    rotate: 45deg;
}
.barra2-2{
    background-color: white;
    height: 4px;
    transition: 0.2s;
    rotate: -45deg;
}
.BttDirect{
    background: none;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 9pt;
}
.BttDirect:hover{
    color: rgb(145, 145, 145);
    transition: 0.2s;
}
.PontoSeparador{
    height: 6px;
    width: 6px;
    background-color: orange;
    border-radius: 100%;
}
#linhaHeaderRight{
    width: 10%;
    height: 2px;
    background-color: white;
    right: 0px;
    margin-right: 0px;
}
#TítuloSite{
    position: absolute;
    top: 40vh;
    left: 10%;
    z-index: 1;
    font-family: var(--fontTitulo);
    text-shadow: 0px 0px 20px black;
    font-weight: 300;
    font-size: 15pt;
}
#TextoBrancoTop{
    color: white;
}
#TextoOrangeTop{
    color: orange;
}
#FitaTop{
    z-index: 4;
    position: absolute;
    top: 80vh;
    width: 100%;
    height: 70px;
    background-color: rgba(88, 65, 0, 0.562);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#TextoFita{
    color: white;
    margin: auto;
    font-weight: 400;
    font-family: var(--fontParagrafo);
}
#brasão{
    width: 100px;
    position: absolute;
    top: -90px;
    left: calc(50% - 50px);
    z-index: -1;
}
#BrasãoImg{
    width: 100px;
}

/*Segunda Parte*/
#SegundaSection{
    height: 420px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}
#AtuaçãoNoDireito{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    border: 2px solid rgb(153, 125, 74);
    border-radius: 5px;
    z-index: 2;
}
#TitleAtuation{
    position: relative;
    top: -13px;
    left: 10px;
    background-color: white;
    color: gray;
    width: 250px;
    text-align: center;
    font-family: var(--fontTitulo);
}
#PrimeiroTexto{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
#BoxPreventiva{
    width: 500px;
    display: flex;
    flex-direction: column;
}
#TitlePreventiva{
    color: rgb(212, 138, 0);
}
.TilteBloco2{
    font-family: var(--fontTitulo);
    font-size: 15pt;
}
.TextPreventiva{
    color: gray;
    margin-top: 20px;
    font-family: var(--fontParagrafo);
    font-weight: 500;
}
#BoxMartelo{
    width: 300px;
    position: absolute;
    right: 18%;
}
#ImagemMartelo{
    width: 400px;
}
#SegundoTexto{
    display: flex;
    flex-direction: row-reverse;
}
#BoxContenciosa{
    margin-top: 90px;
    margin-right: 20px;
    width: 500px;
}
#TilteContenciosa{
    color: rgb(212, 138, 0);
}
.TextContenciosa{
    margin-top: 20px;
    font-family: var(--fontParagrafo);
    font-weight: 500;
    color: gray;
}
#BoxAssinatura{
    position: absolute;
    left: 10%;
    margin-top: 20px;
}
#imagemAssinatura{
    width: 400px;
}

/*terceira parte*/
#TerceiraSection{
    background-color: var(--cor-AzulPrincipal);
    height: max-content;
    position: relative;
    padding-top: 200px;
    padding-bottom: 100px;
}
#TextoTerceiro{
    border: 1px solid rgb(186, 121, 0);
    height: max-content;
    padding-bottom: 50px;
    border-radius: 4px;
    width: 70%;
    margin: auto;
}
#TítuloTerceiro{
    color: white;
    background-color: var(--cor-AzulPrincipal);
    font-family: var(--fontTitulo);
    width: 200px;
    text-align: center;
    position: relative;
    top: -10px;
    left: 10px;
}
.abrangênciaBox{
    margin-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}
.TopÁrea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.TitleÁrea{
    color: rgb(238, 155, 1);
    font-family: var(--fontTitulo);
    font-size: 12pt;
}
.BottomÁrea{
    margin-top: 10px;
    color: rgb(164, 164, 164);
    font-size: 12pt;
    max-width: 500px;
}
.TextÁrea{
    font-family: var(--fontParagrafo);
    font-size: 11pt;
}



#Section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    gap: 20px;
    height: 300px;
    background-color: rgb(198, 129, 0);
}
.Numeros{
    height: max-content;
    width: 300px;
}
.TextNumeros{
    display: flex;
    flex-direction: column;
}
.TilteNumero{
    color: white;
    font-size: 40pt;
    font-family: var(--fontTitulo);
}
.DescNumero{
    color: white;
    font-size: 10pt;
    font-family: var(--fontParagrafo);
}


#QuemSomos{
    background-color: var(--cor-AzulPrincipal);
    height: max-content;
    padding-top: 80px;
    padding-bottom: 80px;
}
#MasterQuemSomos{
    margin: auto;
    width: 70%;
    height: max-content;
    border: 2px rgb(186, 121, 0) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
#QSTitle{
    background-color: var(--cor-AzulPrincipal);
    font-family: var(--fontTitulo);
    color: white;
    width: 150px;
    text-align: center;
    position: relative;
    top: -12px;
    left: 20px;
}
#TextBoxQS{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
}
#QSParte1{
    width: 50%;
}
#QSParte2{
    width: 50%;
}
.TextQS{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 95%;
    font-family: var(--fontParagrafo);
    font-size: 11pt;
}
.TitleQS{
    color: rgb(238, 155, 1);
    margin-top: 20px;
    font-family: var(--fontTitulo);
    font-size: 12pt;
}
.DescQS{
    margin-top: 10px;
    color: rgb(164, 164, 164);
}


#JuramentoDeHipócrates{
    height: max-content;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(198, 129, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--fontTitulo);
}
#containerJuramento{
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}
#TopJuramento{
    width: 60%;
    text-align: center;
    font-size: 17pt;
}
#BottomJuramento{
    text-align: center;
    font-size: 12pt;
}


#equipe{
    display: flex;
    flex-direction: column;
}
#TopEquipe{
    display: flex;
    flex-direction: row;
    background-color: var(--cor-AzulPrincipal);
    height: 300px;
}
#TopParte1{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#TopParte1 h1{
    color: rgb(238, 155, 1);
    font-family: var(--fontTitulo);
    font-size: 12pt;
}
#TopParte1 p{
    margin-top: 10px;
    color: white;
    font-size: 11pt;
    font-family: var(--fontParagrafo);
}
#TopParte2{
    background-image: url('imagens/assinandoContrato.jpg');
    background-size: cover;
    filter: opacity(0.3);
    width: 50%;
}




#BottomEquipe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}
#ImgFuncionário{
    height: 100%;
    display: flex;
    justify-content: end;
    width: 50%;
    position: relative;
    z-index: 2;
}
#ImgFuncionário img{
    height: 100%;
}
#boxFuncionárioText{
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#CurriculumFuncionário{
    border: 2px solid orange;
    padding: 20px;
    padding-left: 50px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    left: -20px;
}
#CurriculumFuncionário h2{
    color: rgb(238, 155, 1);
    font-size: 12pt;
    font-family: var(--fontTitulo);
}
#CurriculumFuncionário ul{
    color: rgb(125, 125, 125);
    font-family: var(--fontParagrafo);
    font-size: 11pt;
    font-weight: 600;
}


#ContatoSeção{
    background-color: var(--cor-AzulPrincipal);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#contatoParte1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
#TitleContact{
    color: orange;
    font-family: var(--fontTitulo);
    font-size: 12pt;
}
#DescContact{
    color: white;
    font-size: 10pt;
    font-family: var(--fontParagrafo);
}
#Formulário{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    margin-top: 20px;
}
.caixaForm{
    height: 40px;
    padding: 5px;
    border: none;
    border-bottom: orange solid 3px;
    background: none;
    color: gray;
    outline: none;
}
#mensageBox{
    border: none;
    border-bottom: orange solid 3px;
    padding: 5px;
    background: none;
    outline: none;
    color: gray;
}
#buttonSubmit{
    background: none;
    outline: none;
    border: none;
    color: orange;
    margin-top: 10px;
    cursor: pointer;
}
#contatoParte2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 20%;
}
#BoxLinkSite{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
#BoxLinkSite img{
    width: 20px;
}
#BoxLinkSite a{
    text-decoration: none;
    color: white;
    font-family: var(--fontTitulo);
    font-size: 11pt;
}
#BoxLinkSite a:hover{
    color: rgb(250, 191, 82);
    transition: 0.5s;
}
#BoxContactPhone{
    margin-top: 30px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#BoxContactPhone img{
    width: 20px;
}
#BoxContactPhone h2{
    font-size: 12pt;
    color: orange;
    font-family: var(--fontTitulo);
    font-size: 12pt;
}
#BttReturn{
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(8px);
    color: orange;
    position: fixed;
    right: 30px;
    top: 80vh;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.158);
    z-index: 2000;
    cursor: pointer;
}
footer{
    background-color: black;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#logoFooter{
    width: 50px;
}
#direitosReservados h2{
    color: white;
    font-size: 8pt;
}
@media (max-width: 1260px){
    #BoxMartelo{
        right: 10%;
    }
    #ImagemMartelo{
        width: 300px;
    }
    #BoxAssinatura{
        left: 10%;
        top: 400px;
    }
    #imagemAssinatura{
        width: 300px;
    }
}
@media (max-width: 1125px){
    #PrimeiroTexto{
        margin-left: 0px;
    }
    #BoxPreventiva{
        margin: auto;
        max-width: 500px;
    }
    #BoxContenciosa{
        margin: auto;
        margin-top: 50px;
        max-width: 500px;
    }
    #BoxMartelo{
        display: none;
    }
    #BoxAssinatura{
        display: none;
    }
}
@media (max-width: 970px){
    .BttDirect{
        font-size: 7pt;
    }
    #TextoBrancoTop{
        font-size: 12pt;
    }
    #TextoOrangeTop{
        font-size: 12pt;
    }
    #TextoFita{
        font-size: 12pt;
        font-weight: 600;
        text-shadow: 0px 0px 8px black;
    }
    #brasão{
        width: 60px;
        top: -40px;
        left: calc(50% - 30px);
    }
    #BrasãoImg{
        width: 60px;
    }
    .Numeros{
        width: 200px;
    }
    .TextNumeros{
        width: 100%;
    }
    .TilteNumero{
        font-size: 20pt;
    }
    .DescNumero{
        font-size: 15pt;
    }
}
@media (max-width: 750px){
    #AtuaçãoNoDireito{
        padding: 20px;
    }
    #TitleAtuation{
        top: -30px;
    }
    .botõesHeaderBarra1{
        display: none;
    }
    .botõesHeaderBarra2{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        margin: auto;
        margin-top: 50px;
        align-items: center;
        justify-content: space-between;
        transition: 0.2s;
    }
    .barra1-2{
        background-color: white;
        height: 4px;
        transition: 0.2s;
        rotate: 45deg;
        margin-top: 5px;
    }
    .barra2-2{
        background-color: white;
        height: 4px;
        transition: 0.2s;
        margin-bottom: 5px;
        rotate: -45deg;
    }
    #LogoEmpresa{
        position: absolute;
        left: 10%;
    }
    #bttNav{
        position: absolute;
        top: 35px;
        right: 10%;
        width: 50px;
        height: 25px;
        padding-top: 20px;
    }
    #bttMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 15px;
        width: 30px;
        position: relative;
    }
    #Section4{
        flex-direction: column;
        height: max-content;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 40px;
    }
}
@media (max-width: 640px){
    #ContatoSeção{
        flex-direction: column;
    }
}
@media (max-width: 540px){
    #AtuaçãoNoDireito{
        margin-top: -50px;
    }
    #TitlePreventiva, #TilteContenciosa{
        font-size: 12pt;
    }
    .TextPreventiva, .TextContenciosa{
        font-size: 10pt;
    }
    #BoxContenciosa{
        margin-top: 20px;
    }
    .abrangênciaBox{
        padding-right: 20px;
        padding-left: 20px;
    }
    .TitleÁrea{
        font-size: 12pt;
    }
    .TextÁrea{
        font-size: 8pt;
    }
    #TextBoxQS{
        flex-direction: column;
    }
    #QSParte1{
        width: 100%;
    }
    #QSParte2{
        width: 100%;
    }
    #TopJuramento{
        font-size: 12pt;
    }
    #BottomJuramento{
        font-size: 8pt;
    }
}
@media (max-width: 420px){
    #TitleAtuation{
        width: 150px;
        font-size: 10pt;
    }
    .TitleQS{
        font-size: 15pt;
    }
    .DescQS{
        font-size: 10pt;
    }
    #TopParte1 h1{
        font-size: 10pt;
    }
    #TopParte1 p{
        font-size: 8pt;
    }
    #BottomEquipe{
        width: 100%;
        overflow: scroll;
    }
    #ImgFuncionário{
        justify-content: center;
        margin-left: 30%;
    }
    #boxFuncionárioText{
        width: 100vw;
    }
    #CurriculumFuncionário{
        left: 20px;
        margin-right: 30px;
        width: 70vw;
    }
    #logoFooter{
        width: 30px;
    }
    #direitosReservados h2{
        font-size: 5pt;
    }
}